{% extends 'base.html' %} 


{% load static %}
   
 {% block title %} All Application Index  {% endblock%}
 {% block content %}
 <div class="container text-center ">
 
 <h2> All Application Index </h2>
 <hr>

	 <div class="text-left">
	 	<h4> Web Application </h4>
	 	<ul>
	 		 <li><a href="{% url 'blogs' %}"> Blogs </a></li>
	 		 <p> This application was developed for posting Blogs about any subject. It has the capability to create, update, delete and the list of blogs. It can also filter the blogs based on the user id. Pagination is also implemented as part of this application. Currently the page size is set to 5.  The users require to log in in order to post a new blog. However, anybody can read the content of the blogs.</p>
	 		  <li><a href="{% url 'polls:index' %}"> Polls </a></li>
	 		  <p> This application is capable of capturing the vote count based on the different questions and choices. The results pages show the consolidated results of vote count by different users.</p>
	 		  <li><a href="{% url 'login' %}"> Login </a></li>
	 		  <li><a href="{% url 'logout' %}"> Logout </a></li>
	 		  <li><a href="{% url 'register' %}"> Register </a></li>
	 		   <li><a href="{% url 'password_reset' %}">Password Reset</a></li>

	 	</ul>
	 </div>

	 <div class="text-left">
	 	<h4> Web Design </h4>
	 </div>

	 <div class="text-left">
	 	<h4> Word/Excel Processing </h4>
	 	<ul>
	 		 <li><a href="{% url 'word:word' %}"> Resume Processor </a></li>
	 		 <p> This is application is designed to extract the personal information from the resume. I have provided my resume as a sample. Please note some of my personal data has been tempered for security reason. <br> The original word document can be found <a href="https://drive.google.com/file/d/1v95Bf3YCi0qOhr89pgKO9I2Jk38V1Q60/view">here</a></p>
	 	</ul>
	 </div>

	  <div class="text-left">
	 	<h4> Text Mining </h4>
	 	<ul>
	 		 <li><a href="{% url 'scrap:index' %}"> Web Scrapper </a></li>
	 		 <p> This application is capable of extracting the text out of any given website based on the search criteria. It also lists down the content of the website in a tabular form and present in the site. It also saves the results of all search in the database for future use. Currently the search is restricted to only our blog sites for security reason but it can be extended to any sites.</p>
	 	</ul>
	 		  
	 </div>
	 <div class="text-left">
	 	<h4>  Image Processing </h4>
	 	 <li><a href="{% url 'scrap:index' %}"> Image Edge Decetor </a></li>
	 </div>

	  <div class="text-left">
	 	<h4>  Machine Learning </h4>
	 </div>

	  <div class="text-left">
	 	<h4> Fun Games </h4>
	 </div>

</div>

 {% endblock %}