{% extends 'base.html' %} 


{% load static %}
   
   {% block title %} Tushar Registration {% endblock%}

{% load crispy_forms_tags %}


{% block content %}
 
<div class="d-flex justify-content-center "  style="background-image: url('{% static 'img/bkg/login.jpg' %}');  background-repeat: no-repeat;   background-attachment: fixed;">

    <div class="row text-center padding">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
              <legend class="border-bottom mb-4">Blog Post</legend>
               
                {{ form|crispy }}
            
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Post</button>
            </div>
        </form>
         <br>
       
    </div>   
   
</div>


{% endblock %}