{% extends 'base.html' %} 


{% load static %}
   
   {% block title %}  Serach Details {% endblock%}

{% load crispy_forms_tags %}


{% block content %}
<div>
	<h4> <br> <br> </h4>
</div>

 <div class="container text-center padding justify-content-center ">

 <div class="media">

 	      <h5> <br> <br> Original <br> Image &nbsp; </h5>
         <h4> <br> </h4>
        <img class="rounded d-block" src="{{ img.image.url }}">
      



        <h5> <br> <br>  Image <br>&nbsp; with edge &nbsp; </h5>

        <h4> <br> </h4>

        <img class="rounded  d-block" src="{{ img.outImage.url }}">

        
       
      </div>
    <div>
    	<h4> <br> <br> </h4>
    	<a href="{% url 'image:del' img.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Go Back  </a>
    </div>

</div>

{% endblock %}