

{% extends 'base.html' %} 


{% load static %}
   
   {% block title %} Tushar Polls {% endblock%}

{% load crispy_forms_tags %}


{% block content %}

<div class="row text-center padding justify-content-center ">
	<h1><br> Polls <br></h1>

</div>

 <div class="row text-center padding justify-content-center ">

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
    
       <li><a href="{% url 'polls:detail' question.id %}"> {{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

   </div>  
{% endblock %}

