{% extends 'base.html' %} 

{% load static %}
   
   {% block title %} Password Reset {% endblock%}

{% load crispy_forms_tags %}



{% block content %}

<div class="d-flex justify-content-center "  style="background-image: url('{% static 'img/bkg/login.jpg' %}');  background-repeat: no-repeat;   background-attachment: fixed;">

    <br><br>
    <div class="row text-center padding">
        <div class="content-section">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <br>

                    <legend class="border-bottom mb-4">Reset Password</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary btn-lg" type="submit"> Reset Password </button>
                </div>
            </form>
           
        </div>
    </div>
</div>

{% endblock content %}

