{% extends 'base.html' %} 


{% load static %}
   
   {% block title %}  Serach Details {% endblock%}

{% load crispy_forms_tags %}


{% block content %}

 <div class="container text-center padding justify-content-center ">

		 <h1>  Find Edge  Details </h1>

 <div class="content-section">
      <div class="media">
        <img class="account-img" src="{{ user.profile.image.url }}">
       
      </div>
      
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4"> Please upload Image</legend>
              {{ form|crispy }}
          </fieldset>
          <div class="form">
              <button class="btn btn-primary" type="submit">Upload Image</button>
          </div>
      </form>
    </div>

</div>

{% endblock %}